<div class="document-list">
  <div class="document new {{if currentDocument.new 'active' 'inactive'}}" {{action 'openBlankDocument'}}>
    +
  </div>
  {{#each sortedDocuments as |document|}}
    <div class="document {{if document.isActive 'active' 'inactive'}}" {{action 'openDocument' document}}>
      <div class="name">
        {{document.name}}
      </div>
      <div class="content-preview">
        {{document.content}}
      </div>
      <div class="created-at">
        {{format-date document.createdAt}}
      </div>
    </div>
  {{/each}}
</div>

{{document-editor doc=currentDocument openBlankDocument=(action 'openBlankDocument') store=store user=user}}

<div class='clearfix'></div>
