<div class="name">
  {{input type='text' value=doc.name placeholder="Name"}}
</div>
<div class="toolbar">
  <!-- save -->
  {{#if saveAble}}
    <button {{action 'save'}} tabindex="-1" class="save active">Save</button>
  {{else}}
    <button tabindex="-1" class="save inactive">Saved</button>
  {{/if}}
  <!-- live updates -->
  <button {{action 'toggleLive'}} tabindex="-1" class="toggle-live {{if isLive 'active' 'inactive'}}">Live</button>
  <!-- delete -->
  {{#if deleteAble}}
    <button tabindex="-1" {{action 'delete'}} class="delete">Delete</button>
  {{/if}}
</div>
<div class="content">
  {{textarea value=doc.content placeholder="Write something awesome..."}}
</div>
