<div class='content type-{{nodeModel.displayData}}' style='transform: rotate(-{{rotation}}deg) !important;'>
  {{#if layer2}}
    <div class='actionable' {{action 'click'}}></div>
  {{/if}}
  <p class='text'>{{nodeModel.name}}
  {{#if layer1}} 
    <p style='font-size: 13px; color: #666;'>{{nodeModel.content}}</p>
    <!-- admin editing -->
    {{#if isAdmin}}
      <form class='create-node'>
        {{input type='text' value=newChildName placeholder='Name' class='new-child-name'}}
        {{input type='text' value=newChildType placeholder='Type' class='new-child-type'}}
        <button type='submit' class='create-node' {{action 'createChildNode' nodeModel}}>Create Child Node</button>
      </form>
    {{/if}}
  {{/if}}
  </p>
  {{#if nodeModel.children}}
    {{#each nodeModel.children as |child index|}}
      {{explorer-entity action='blurParent' parentComponent=this parentModel=nodeModel nodeModel=child nodeIndex=index isAdmin=this.isAdmin}}
    {{/each}}
  {{/if}}
</div>
