<div class='content type-{{nodeModel.type}}' style='transform: rotate(-{{rotation}}deg) !important;'>
  {{#if layer2}}
    <div class='actionable' {{action 'focus'}}></div>
  {{/if}}
  <p class='text'>{{nodeModel.name}}</p>
  {{#if nodeModel.children}}
    {{#each nodeModel.children as |child index|}}
      {{explorer-entity action='blurParent' parentComponent=this parentModel=nodeModel nodeModel=child nodeIndex=index}}
    {{/each}}
  {{/if}}
</div>
