<div class='content type-{{nodeModel.displayData}}' style='transform: rotate(-{{rotation}}deg) !important;'>
  {{#if layer2}}
    layer 2
    <div class='actionable' {{action 'click'}}></div>
  {{/if}}
  {{#if id}}
    <p class='text'>{{name}}
    {{#if layer1}} 
      <p style='font-size: 13px; color: #666;'>{{nodeModel._content}}</p>
      <!-- admin editing -->
      <!-- {{#if isAdmin}} -->
      <!--   <form class='create&#45;node'> -->
      <!--     {{input type='text' value=newChildName placeholder='Name' class='new&#45;child&#45;name'}} -->
      <!--     {{input type='text' value=newChildType placeholder='Type' class='new&#45;child&#45;type'}} -->
      <!--     <button type='submit' class='create&#45;node' {{action 'createChildNode' nodeModel}}>Create Child Node</button> -->
      <!--   </form> -->
      <!-- {{/if}} -->
    {{/if}}
    </p>
  {{/if}}
  {{#if nodeModel.children}}
    {{#each nodeModel.children as |child index|}}
      {{explorer-entity action='blurParent' parentComponent=this parentModel=nodeModel nodeModel=child nodeIndex=index isAdmin=this.isAdmin}}
    {{/each}}
  {{/if}}
</div>
