<div class='content type-{{nodeModel.type}}' style='transform: rotate(-{{rotation}}deg) !important;'>
  {{#if layer2}}
    <div class='actionable' {{action 'click'}}></div>
  {{/if}}
  <p class='text'>{{name}}
  {{#if layer1}} 
    <p style='font-size: 13px; color: #666;'>{{nodeModel._content}}</p>
  {{/if}}
  </p>
  {{#if nodeModel.children}}
    {{#each nodeModel.children as |child index|}}
      {{explorer-entity action='blurParent' parentComponent=this parentModel=nodeModel nodeModel=child nodeIndex=index}}
    {{/each}}
  {{/if}}
</div>
