<div class='content type-{{entity.type}}' style='transform: rotate(-{{entityRotation}}deg) !important;'>
  {{#if layer2}}
    <div class='actionable' {{action 'focus'}}></div>
  {{/if}}
  <p class='text'>{{entity.name}}</p>
  {{#if entity.children}}
    {{#each entity.children as |child index|}}
      {{explorer-entity entity=child entityOrder=index numSiblings=entity.children.length}}
    {{/each}}
  {{/if}}
</div>
