<div class='header' >



  <!-- Now creating the plus button in the header. Then need to set up the new thread display, built out the flip transitions and the fades. Then finish the actual multi recipient stuff, making it default to the org admin for students and potentially not having this alterable for them. -->

  <!-- display conditional left and right header buttons -->
  {{#unless isMinimized}}
    <!-- left -->
    {{#if threadFocused}}
      <div class='back' {{action 'blurThread'}}>&#60;</div>
    {{else}}
      <div class="hamburger">
        <div class="toggle" {{action 'hamburger'}}>
          —<br/>—<br/>—
        </div>
      </div>
      <div class="newThreadToggle {{if newThread.active 'active' 'inactive'}}" {{action 'newThreadToggle'}}>
        <!-- show "x" if making new thread -->
        {{#if newThread.active}}x{{else}}+{{/if}}
      </div>
    {{/if}}
    <!-- right -->
  {{else}}
  {{/unless}}

  <!-- display conditional header -->
  {{#if displayThreadTitle}}
    <h3 {{action 'minimize'}}>{{currentThread.name}}</h3>
  {{else}}
    <h3 {{action 'minimize'}}>Messenger</h3>
  {{/if}}


</div>
{{#if errorIsDisplayed}}
  <div class='row'>
    {{error}}
  </div>
{{/if}}
<div class='body'>
  <div class='body-inner-wrapper'>
    <div class="hamburger-options {{if hamburgerOptions 'show' 'hide'}}">
      <div class="option {{if hamburgerActive.advanced 'active' 'inactive'}}" {{action 'hamburgerAction' "advanced"}}>Advanced</div>
      <div class="option {{if hamburgerActive.contacts 'active' 'inactive'}}" {{action 'hamburgerAction' "contacts"}}>Contacts</div>
    </div>
    <div class="newThread {{if newThread.active 'show' 'hide'}} {{if hamburgerOptions 'slide-right' 'slide-none'}}">
      <form>
        {{#if user.typeIsAdmin}}
            {{input type="text" value=newThread.recipients class="name" placeholder="To"}}
            {{input type="text" value=newThread.name class="name" placeholder="Subject"}}
            <input type="submit" {{action 'createThread'}} class="submit" value="+">
            <div class="clearfix"></div>
        {{else}}
            {{input type="text" value=newThread.name class="name" placeholder="Subject"}}
            <input type="submit" {{action 'createThread'}} class="submit" value="+">
            <div class="clearfix"></div>
        {{/if}}
      </form>
    </div>
    <div class="threads {{if threadFocused 'hide' 'show'}} {{if newThread.active 'flip' 'no-flip'}}">
      {{#each sortedThreads as |thread|}}
        <div class='row thread' {{action 'focusThread' thread}}>
          <div class='col name'>
            <div class='row thread-author'>
              {{#if thread.author.fullName}}
                {{thread.author.fullName}}
              {{else}}
                {{thread.author.email}}
              {{/if}}
            </div>
            <div class='row thread-name'>{{thread.name}}</div>
          </div>
          <div class='col arrow'>></div>
          <div class='clearfix'></div>
        </div>
      {{/each}}
    </div>
    <div class="messages {{if threadFocused 'show' 'hide'}}">
      <div class="messages-body">
        <span style="display: none;">{{messages.length}}</span>
        {{#each messages as |message index|}}
          <div class="row message {{if message.author.typeIsAdmin 'type-admin' 'type-student'}}">
            <div class="col body">{{message.body}}</div>
          </div>
          <div class='clearfix'></div>
        {{/each}}
      </div>
      <div class='row newMessage'>
        <form>
          {{input type="text" value=newMessageBody class="name" placeholder="Send something..."}}
          <input type="submit" {{action 'createMessage'}} class="submit" value=">" />
        </form>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
</div>
