<div class='list'>
  <!-- <form class='row newRow'> -->
  <!--   <div class='col name'>{{input type='text' value=newRowName placeholder='Project name...'}}</div> -->
  <!--   <div class='col newRowEmail'>{{input type='text' value=newRowEmail placeholder='Email Ex/ @ucsc.edu'}}</div> -->
  <!--   <div class='col newRowSubmit'><button type='submit' {{action 'newRow'}}>+</button></div> -->
  <!--   <div class='clearfix'></div> -->
  <!-- </form> -->
  <h2>
    {{#if model.user.typeIsAdmin}}
      Select to View a Student's Project
    {{else}}
      Your Current Project
    {{/if}}
  </h2>
  <div class='row labels'>
    <div class='col name'>Name</div>
    <div class='col admin'>{{#if model.user.typeIsAdmin}}Student(s){{else}}Collaborator(s){{/if}}</div>
    <div class='clearfix'></div>
  </div>
  {{#each bufferedRows as |project|}}
  <div {{action 'selectActiveRow' project}} class="row content {{if project.showIsActive 'show-is-active'}}">
      <div class='col name'>{{project.name}}</div>
      <div class='col collaborators'>
        {{#if project.author.fullName}}
          {{project.author.fullName}}
        {{else}}
          {{project.author.email}}
        {{/if}}
      </div>
      <div class='clearfix'></div>
    </div>
  {{/each}}
  <div class='clearfix'></div>
</div>

