<div id='left' class='urgnot flex'></div>
<div id='right'>
  {{#if displayLogin}}
  <form>
    {{input type='email' placeholder='Email' value=email}}
    {{input type='password' placeholder='Password' value=password}}
    <input type='submit' value='Continue Greatness' {{action 'signIn'}}/>
    <input type='button' value='Sign Out' {{action 'signOut'}}/>
  </form>
  {{else}}
    <h1>Welcome to Urgnot.io</h1>
    <p>Urgnot.io is project manager for Intel ISEF students and their advisors. Urgnot helps guide students in their pursuit of knowledge and discovery by collecting all of the tools necessary for a successful scientific inquiry in one place. Included in these tools, is a streamlined messaging platform that makes it easy for students to communicate with their mentors and advisors.</p>
    <button {{action 'start'}}>Start Something Awesome</button>
  {{/if}}
</div>
<div class='clearfix'></div>
