<div class='messenger'>
  <div class='header'>
    <h3>Messenger</h3>
  </div>
  {{#if errorIsDisplayed}}
    <div class='row'>
      {{error}}
    </div>
  {{/if}}
  <div class='body'>
    <div class="threads {{if threadFocused 'hide' 'show'}}">
      <div class='row newThread'>
        {{input type="text" value=newThreadName class="name" placeholder="Subject"}}
        <button type="submit" {{action 'createThread'}} class="submit">+</button>
      </div>
      {{#each threads as |thread|}}
        <div class='row thread' {{action 'focusThread' thread}}>
          <div class='col name'>{{thread.name}}</div>
          <div class='col arrow'>></div>
          <div class='clearfix'></div>
        </div>
      {{/each}}
    </div>
    <div class="messages {{if threadFocused 'show' 'hide'}}">
      {{#each messages as |message|}}
        <div class='row message'>
          <div class='col '>A New Message Thread!</div>
          <div class='col name'>id: {{thread.name}}</div>
        </div>
      {{/each}}
    </div>
    <div class='clearfix'></div>
  </div>
</div>
