<div id='menu'>
  <div {{action 'blur'}} class='active button'>Back</div>
  <div class='inactive button'>Home</div>
  <div class='inactive button'>Current</div>
</div>

<div id='explorer-wrapper' style='display: none;'>
  <div id='explorer'>
    <div class="star-wrapper wrapper {{if origin1a1EnabledL1 'layer-1-wrapper' 'top-wrapper'}}">
      <div class="star content {{if origin1a1EnabledL1 'layer-1' 'top'}}"> 
        <p class='text'>Star</p>

        <div class="planet-wrapper order-1 wrapper {{if origin2a1EnabledL1 'layer-1-wrapper'}} {{if origin2EnabledL2 'layer-2-wrapper'}}"> 
          <div class="planet content {{if origin2a1EnabledL1 'layer-1'}} {{if origin2EnabledL2 'layer-2'}}" {{action 'focus' 2 1}}>
            <p class='text'>Planet</p>

            <div class="moon-wrapper order-1 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}" {{action 'focus' 3 1}}>
                <p class='text'>Moon</p>
              </div>
            </div>

            <div class="moon-wrapper order-2 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
                <p class='text'>Moon</p>
              </div>
            </div>

            <div class="moon-wrapper order-3 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
                <p class='text'>Moon</p>
              </div>
            </div>

            <div class="moon-wrapper order-4 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
                <p class='text'>Moon</p>
              </div>
            </div>

            <div class="moon-wrapper order-5 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
                <p class='text'>Moon</p>
              </div>
            </div>

            <div class="moon-wrapper order-6 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
                <p class='text'>Moon</p>
              </div>
            </div>

            <div class="moon-wrapper order-7 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
                <p class='text'>Moon</p>
              </div>
            </div>

            <div class="moon-wrapper order-8 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
              <div class="moon content {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
                <p class='text'>Moon</p>
              </div>
            </div>
          </div>                      
        </div>
      </div>
    </div>
  </div>
</div>


<div class='explorer-wrapper'>
  {{explorer-entity entity=model isTop=true}}
</div>
