<div {{bind-attr class=':star-wrapper origin1a1EnabledL1:layer-1-wrapper'}}>
  <div {{bind-attr class=':star origin1a1EnabledL1:layer-1'}}> 
    <div {{bind-attr class=':planet-wrapper origin2a1EnabledL1:layer-1-wrapper origin2EnabledL2:layer-2-wrapper :order-1'}}> 
      <div {{bind-attr class=':planet origin2a1EnabledL1:layer-1 origin2EnabledL2:layer-2'}} {{action 'focus' 'planet' '1'}}>
        <div {{bind-attr class=':moon-wrapper origin3a1EnabledL1:layer-1-wrapper origin3EnabledL2:layer-2-wrapper order-1'}}>
          <div {{bind-attr class=':moon origin3a1EnabledL1:layer-1 origin3EnabledL2:layer-2 :layer-3'}}>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-2'>
          <div class='moon moon-2 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-3'>
          <div class='moon moon-3 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-4'>
          <div class='moon moon-4 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-5'>
          <div class='moon moon-5 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-6'>
          <div class='moon moon-6 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-7'>
          <div class='moon moon-7 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-8'>
          <div class='moon moon-8 layer layer-3'>
          </div>
        </div>
      </div>                      
    </div>
  </div>
</div>
