<div {{action 'blur'}}>Back</div>
<div class="star-wrapper wrapper {{if origin1a1EnabledL1 'layer-1-wrapper' 'top-wrapper'}}">
  <div class="star content {{if origin1a1EnabledL1 'layer-1' 'top'}}"> 
    <div class="planet-wrapper order-1 wrapper {{if origin2a1EnabledL1 'layer-1-wrapper'}} {{if origin2EnabledL2 'layer-2-wrapper'}}"> 
      <div class="planet content focused {{if origin2a1EnabledL1 'layer-1'}} {{if origin2EnabledL2 'layer-2'}}" {{action 'focus' 2 1}}>
        <div id="text-test"></div>

        <div class="moon-wrapper order-1 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>

        <div class="moon-wrapper order-2 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>

        <div class="moon-wrapper order-3 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>

        <div class="moon-wrapper order-4 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>

        <div class="moon-wrapper order-5 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>

        <div class="moon-wrapper order-6 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>

        <div class="moon-wrapper order-7 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>

        <div class="moon-wrapper order-8 wrapper {{if origin3a1EnabledL1 'layer-1-wrapper'}} {{if origin3EnabledL2 'layer-2-wrapper'}}">
          <div class="moon content focused-2 {{if origin3a1EnabledL1 'layer-1'}} {{if origin3EnabledL2 'layer-2'}}">
          </div>
        </div>
      </div>                      
    </div>
  </div>
</div>
